.homeBackground {
  background: url('../public/assets/img/home-bg.png');
  background-position: center;
  background-size: cover;
}

.siteBackground {
  background: url('../public/assets/img/site-bg.png');
  background-position: center;
  background-size: cover;
}

.formBackground {
  background: url('../public/assets/img/form-bg.png');
  background-position: center;
  background-size: cover;
}