.homeBackground {
  background: url('../public/assets/img/home-bg.png');
  background-position: center;
  background-size: cover;
}

.blurBackground {
  background: url('../public/assets/img/blur-bg.png');
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(white, white);
}